---
---

@import "{{ site.theme }}";

body {
    background-color: #f4fff4;
}

main > h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #599ea6;
    color: #ffffff !important;
    padding-left: 0.25rem;
}

main > h3 {
    scroll-margin-top: 40px;
    background-color: #e6e6e6;
}

main > h4 {
    scroll-margin-top: 40px;
    background-color: #f4f4f4;
}

main > table {
    font-size: 1.0rem;
}

main > table > thead > tr {
    background-color: #f5f5f5;
}

main > table > tbody > tr {
    background-color: #ffffff;
}
