---
---

@import "{{ site.theme }}";

body {
    padding: 0;
    margin: 0;

    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "h"
      "m";
    background-color: #f4fff4;
    color: #505050;
  }

  body > header {
    grid-area: h;
  }

  body > aside {
    display: none;
    grid-area: a;
    position: -webkit-sticky;
    position: sticky;
    top: 36px;
    height: calc(100vh - 36px);
    overflow: scroll;
  }

  body > main {
    grid-area: m;
  }

  @media (min-width: 992px) {
    body > aside {
      display: initial;
    }

    body {
      grid-template-columns: 15% 85%;
      grid-template-areas:
        "h h"
        "a m";
    }
  }

  @media (min-width: 1200px) {
    body {
      grid-template-columns: 20% 80%;
    }
  }

  aside ul {
    margin: 0;
    padding: 0;
  }

  aside li {
    list-style-type: none;
    margin: 3px;
    padding: 0;
    color: #ffffff;
    border-left: solid 6px #339999;
    background-color: #41bdbd;
  }

  aside li:hover {
    background-color: #8ad5d5;
    cursor: pointer;
  }

  .page-header {
    padding: 1rem 0rem;
  }

  .main-content {
    margin: 0;
    padding: 0;
    max-width: initial;
  }

  .main-content h1 {
    display: none;
  }

  .main-content h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-left: 0.25rem;
    background-color: #339999;
    color: #ffffff !important;
    font-weight: bold;
  }

  .main-content h3,
  .main-content h4,
  .main-content h5,
  .main-content h6 {
    scroll-margin-top: 40px;
    padding-left: 4px;
    padding-right: 8px;
    border-left: 4px solid #505050;
    border-radius: 8px;
  }

  .main-content h3 {
    background-color: #41bdbd;
    color: #ffffff;
  }

  .main-content h4 {
    width: -moz-fit-content;
    width: fit-content;
    background-color: #67caca;
    color: #ffffff;
  }

  .main-content h5 {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 8px;
    background-color: #8ad5d5;
    color: #000000;
  }

  .main-content h6 {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 16px;
    background-color: #afe3e3;
    color: #000000;
  }

  .main-content table {
    font-size: 1rem;
  }

  .main-content table > thead > tr {
    background-color: #f5f5f5;
  }

  .main-content table > tbody > tr {
    background-color: #ffffff;
  }

  .main-content iframe {
    width: 100%;
  }
